<div class="center jumbotron">
  <h2>
    If you need a product we don't sell, we would be <b><em>excited</em></b> to
    hear from you.
    <a href="mailto:tkbpule1@gmail.com?subject=mobtownHelp">Contact Us Here!</a>
  </h2>
</div>
